/*MOUSE OVER ATTREZZATURA*/
#mouseOver {
    display: inline;
    position: relative;
}

#mouseOver img {
    position: absolute;
    left: -210%;
    transform: translate(-50%);
    bottom: -5em;
    opacity: 0;
    pointer-events: none;
    transition-duration: 800ms;    
}

#mouseOver:hover img {
    opacity: 1;
    transition-duration: 400ms;
}
#mouseOver li{padding: 0px 0px 0px 160px;margin:0; font-family: 'Open Sans Condensed', sans-serif; font-size: 26px;}

*{margin: 0; padding:0;}
body	{font-family: Arial,Helvetica,Sans-serif; background-image: url(images/legio.jpg); background-attachment: fixed; }
/* Container */
#container  {width:960px; margin: 0 auto; padding: 60px 0px 0px 0px;}


/*----------------------------------------------------NAV-------------------------------------------*/


/* Menù di navigazione */
nav {font-family: 'Open Sans Condensed', sans-serif; font-weight: bold; font-size: 19px; background: #191919; width: 956px; float: left; border: 2px solid #fff;}
nav ul  {list-style-type: none;}
nav img{text-align:left; padding: 10px 30px 0px}
#facebook a:link,  a:visited  {color: #fff; text-decoration: none; display: block;padding: 0px 0px 0px 22px;}
#facebook li {border-right-width: 0px;}

nav ul  li  {float: left; border-right: 1px solid #fff; border-bottom-width: 2px; border-bottom-color: white;}
#contattaciSuFacebook{border-right: 0px }
nav a:link,  a:visited  {color: #fff; text-decoration: none; padding: 10px 30px; display: block;}
nav a:hover {background-color: #9bc2e5; color: #051d33;}

 
 
/*<---------------------------------------HEADER------------------------>*/
/*file: filmcx*/
#modalitaGioco{text-align:center ;border-bottom-color:white; border-bottom-style: solid; border-bottom-width: 2px; padding: 60px 30px;font-family: 'Open Sans Condensed', sans-serif;background:#191919; width: 896px; float: left;border-left-color: white; border-left-style: solid; border-left-width: 2px; border-right-color: white; border-right-style: solid; border-right-width: 2px;}
#modalitaGioco span { margin: 0px; color: #fff; font-size: 99px; font-weight: bold;}
#modalitaGioco a {color:#fff; text-decoration: underline #191919;margin: 0; text-align: center; font-family: 'Open Sans Condensed', sans-serif; padding: 5px 0px 0px 0px;}


 
/* file: index */
#descrizione    {width: 956px; float: left; background: #191919; font-family: 'Open Sans Condensed', sans-serif;}
#descrizione h4 {padding: 15px 30px; margin: 0px; color: #fff; font-size: 60px; font-weight: bold;}


 /*<--------------------------------SECTION------------------------------------>*/
 
/* Corpo centrale Home (file:index) */
#section {float: left; width: 956px; background: #dee0e2; border: 2px solid #fff; border-top-width: 0; border-bottom-width: 0; padding: 0px 0px 15px 0px;}
#section p{padding: 10px 0px 10px 50px;margin:0; font-family: 'Open Sans Condensed', sans-serif; font-size: 26px;}
#section a:link,a:visited  {color: #dee0e2; text-decoration: none; padding: 0px 0px; display: block;}
#section a {color: #191919; }


#contatti {float: left; width: 956px; background: #dee0e2; border: 2px solid #fff; border-top-width: 0; border-bottom-width: 0; padding: 0px 0px 15px 0px;}
#contatti p{padding: 10px 50px 10px 50px;margin:0; font-family: 'Open Sans Condensed', sans-serif; font-size: 26px;}
#contatti a{color: #191919;}

#modulistica {float: left; width: 956px; background: #dee0e2; border: 2px solid #fff; border-top-width: 0; border-bottom-width: 0; padding: 0px 0px 15px 0px;}
#modulistica p{padding: 10px 0px 10px 50px;margin:0; font-family: 'Open Sans Condensed', sans-serif; font-size: 26px;}
#modulistica a { color : white; background: black;border: 2px solid red; padding: 5px 10px 5px 10px;margin:0; font-family: 'Open Sans Condensed', sans-serif; font-size: 30px; text-decoration: underline black;}
/*--------------------------------------ARTICLE----------------------------------------->*/
#attrezzatura img {float:left; padding: 20px 10px 20px 30px;}
#attrezzatura p{padding: 20px 0px 10px 258px;margin:0; font-family: 'Open Sans Condensed', sans-serif; font-size: 26px;}
#attrezzatura{width: 954px; float: left;background: #dee0e2; border-left-color: #dee0e2; border-left-style: solid; border-left-width: 2px;}
/* #attrezzatura li{padding: 0px 30px 0px 160px;margin:0; font-family: 'Open Sans Condensed', sans-serif; font-size: 26px;} */

#map{width: 954px; float: left;background: #dee0e2; border-left-color: #dee0e2; border-left-style: solid; border-left-width: 2px;}
#map p {float: center;padding: 10px 10px 10px 10px; margin:0; font-family: 'Open Sans Condensed', sans-serif; font-size: 26px;}


article {width: 956px; float: left;background: #dee0e2; border-left-color: white; border-left-style: solid; border-left-width: 2px; border-right-color: white; border-right-style: solid; border-right-width: 2px;}
article p{padding: 0px 190px 10px 258px;margin:0; font-family: 'Open Sans Condensed', sans-serif; font-size: 26px;}
article img {float:left; padding: 20px 10px 20px 30px;}
article h2 {padding: 20px 30px 0px 0px;font-family: 'Open Sans Condensed', sans-serif; font-size: 40px;}
article li{/*padding: 10px 30px 20px 160px;*/margin:0; font-family: 'Open Sans Condensed', sans-serif; font-size: 24px;}



#game{width: 214px; float: left; padding: 20px 0px 0px 18px;}
#game img {border: 2px solid #fff;}
#game h4{color:#191919; text-decoration: underline #dee0e2;margin: 0; text-align: center; font-family: 'Open Sans Condensed', sans-serif; font-size: 24px; padding: 5px 0px 0px 0px;}
#game p {padding: 0px 0px 0px 525px; margin:0; font-family: 'Open Sans Condensed', sans-serif; font-size: 26px;}


/*<-------------------------------------FOOTER------------------------------------>*/
/* footer-Piè di pagina */
footer {width: 956px; float: left; background:  #191919; color: #fff; border-left-color: white; border-left-style: solid; border-left-width: 2px; border-right-color: white; border-right-style: solid; border-right-width: 2px; border-bottom-color: white; border-bottom-style: solid; border-bottom-width: 2px;}
footer span {margin:0; font-family: 'Open Sans Condensed', sans-serif; font-size: 16px;}
footer a:link,a:visited  {color: #fff; text-decoration: none; padding: 10px 0px; display: block;}
footer ul  {list-style-type: none;}
#legiomartia,#altro{width: 289px; float: left;background:  #191919; padding: 20px 0px 20px 30px;}
#policy{width: 200px; float: left;background:  #191919; padding: 20px 0px 20px 30px;}


/*<--------------------------------DIV-------------------------------------------->*/
/* div per prenotare il biglietto dalla sezione film di ciascun cinema */
#prenota {width: 954px; float: left;background: #dee0e2; text-align: center; padding: 20px 0px 10px 0px;}
/* Reset */
button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
  }
  
  /* Custom */
  button {
    display: inline-block;
    position: relative;
    padding: 20px 38px;
    top: 0;
    font-size: 30px;
    font-family: "Open Sans", Helvetica;
    border-radius: 4px;
    border-bottom: 1px solid lightslategray;
    background: lightslategray;
    color: white;
    box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
    
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);
    
    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
            transition: all 0.2s ease;
  }
  
  button:hover {
    top: -10px;
    box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );
    
    -webkit-transform: rotateX(40deg);
       -moz-transform: rotateX(40deg);
        -ms-transform: rotateX(40deg);
            transform: rotateX(40deg);
  }
  
  button:active {
    top: 0px;
    box-shadow: white;
    background: lightslategray;
  }